.form-container {
  padding: 20px;
  min-height: 100%;
  min-height: 100vh;
}

.form-container .title {
  margin-top: 40px;
}

.form-container .title-message {
  margin-top: 20px;
}

.google-btn,
.or-text {
  margin-top: 30px;
}

.or-text {
  color: #bbb;
  font-size: 12px;
}

.login-btn,
.login-btn:hover {
  margin-top: 20px;
  background: #5456ff;
  border-color: #5456ff;
}

.login-btn-separator {
  margin-top: 30px;
  border-bottom: 1px solid #bbb;
}

.signup-link {
  margin-top: 20px;
}

.btn,
.form-control {
  border-radius: 0px !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}